body {
    padding-top: 70px; 
    margin: 0; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-image {
    max-width: 130px; 
    height: auto;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 30px;
}

.nav a {
    font-size: 20px;
    color: #333333; 
    text-decoration: none;
    font-weight: 500; 
    transition: color 0.3s ease; 
}

.nav a:hover {
    color: #e71039; 
}